* {
  font-family: Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: black; }

a {
  color: white;
  text-decoration: none;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s; }
  a:hover {
    text-decoration: none;
    opacity: 0.7; }
  a:visited {
    color: white; }

/**
 * TODO: http://jsfiddle.net/as5ZU/ - box slider on hover
 *
 */
.blend-background {
  mix-blend-mode: exclusion; }

#iframe-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  #iframe-container iframe {
    width: 100%;
    height: 100%; }

#page-title, #information-button, #page-information, #video-list-container {
  position: absolute;
  bottom: 25px; }

#information-button {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

#page-title {
  left: 25px;
  margin: 0;
  height: 112px;
  width: 200px;
  background-image: url("GOD COLONY.png");
  background-repeat: no-repeat;
  background-size: 200px; }

#video-list-container {
  right: 25px;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 0.95em;
  list-style-type: none;
  list-style: none; }
  #video-list-container li {
    margin-bottom: 5px; }
  #video-list-container a {
    text-transform: uppercase;
    font-weight: bold; }

#information-button {
  display: inline-block;
  border: 3px solid white;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.13s;
  -moz-transition: all 0.13s;
  -ms-transition: all 0.13s;
  -o-transition: all 0.13s;
  transition: all 0.13s; }
  #information-button:hover {
    background-color: black; }

#nts-logo {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("NTS_LOGO_MASTER white.png");
  background-size: 40px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.13s;
  -moz-transition: all 0.13s;
  -ms-transition: all 0.13s;
  -o-transition: all 0.13s;
  transition: all 0.13s; }
  #nts-logo:hover {
    opacity: 0.75; }

#text-container {
  text-align: center;
  color: white; }

#page-information {
  position: absolute;
  top: 50%;
  bottom: initial;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;
  max-width: 90%;
  width: 77%;
  font-size: 1.4em;
  line-height: 1.2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  mix-blend-mode: exclusion;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s; }
  #page-information.display-information {
    visibility: visible;
    opacity: 1; }
  #page-information:not(.display-information) {
    visibility: hidden;
    opacity: 0; }

.no-text-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (max-width: 650px) {
  #iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; }
    #iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }

  #text-container {
    position: relative;
    margin-top: 29px;
    margin-bottom: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

  #information-button, #nts-logo {
    display: none; }

  #page-title {
    text-align: center;
    width: 100%;
    background-position: center; }

  #page-information {
    visibility: visible !important;
    opacity: 1 !important;
    transform: none;
    text-align: left;
    max-width: 100%;
    width: 100%;
    padding: 10px 25px;
    mix-blend-mode: unset; }

  #video-list-container {
    text-align: center;
    padding: 10px 40px;
    font-size: 1em; }
    #video-list-container a {
      text-decoration: underline; }
    #video-list-container li {
      margin-bottom: 15px; }

  #nts-logo, #page-title, #information-button, #page-information, #video-list-container, #page-description {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; } }
/** Code I've knicked **/
.sliding-hover {
  display: inline-block;
  padding: 6px 10px 6px 40px;
  box-shadow: inset 0 0 0 0 black;
  -webkit-transition: box-shadow ease 0.8s;
  -moz-transition: box-shadow ease 0.8s;
  transition: box-shadow ease 0.8s;
  cursor: pointer; }
  .sliding-hover:hover {
    box-shadow: inset -400px 0 0 black; }

/*# sourceMappingURL=style.css.map */
